{% extends 'base.html' %}

{% block title %}个人主页{% endblock %}

{% block content %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <img width="50px" height="50px" src="/media/{{ user.user_profile.avatar }}" alt="头像" class="img-circle">
                    <span>{{ user.username }}</span>
                </h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-envelope text-center" aria-hidden="true"></i> 邮箱：
                    <span class="text-muted">{{ user.email }}</span>
                </li>
                <li class="list-group-item"><i class="fa fa-globe" aria-hidden="true"></i> 地址：
                    <span class="text-muted">{{ user.user_profile.location }}</span>
                </li>
                <li class="list-group-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 加入时间：
                    <span class="text-muted">{{ user.date_joined }}<span>
                </li>
                <li class="list-group-item"><i class="fa fa-book" aria-hidden="true"></i> 发表文章：
                    <span class="text-muted">1</span>
                </li>
            </ul>
            <div class="panel-footer">
                <p>个人简介：{{ user.user_profile.about_me }}</p>
                {% if request.user.is_authenticated and request.user.id != user.id %}
                    <button id="following-or-unfollowing" class="btn {% if is_following %}btn-danger{% else %}btn-success{% endif %} btn-block">
                        {% if is_following %}取消关注{% else %}关注{% endif %}
                    </button>
                {% endif %}
            </div>
        </div>
        <p>
            <a href="#" class="btn btn-primary" type="button">关注 <span class="badge">{{ user.user_profile.get_following_count }}</span></a>
            <a href="#" class="btn btn-primary" type="button">粉丝 <span id="followers-count" class="badge">{{ user.user_profile.get_followers_count }}</span></a>
        </p>
    <div class="col-md-8">
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        // 关注或取消关注
        btn = $('#following-or-unfollowing')
        btn.on('click', function() {
            $.ajax({
                type: 'POST',
                url: '{% url "accounts:profile" user_id=user.id %}',
                data: {'following_user': '{{ user.id }}'},
                success: function (data) {
                    if (data.status == 'ok') {
                        if (btn.hasClass('btn-danger')) {
                            btn.removeClass('btn-danger')
                            btn.addClass('btn-success')
                            btn.text('关注')
                            $('#followers-count').text(String(Number($('#followers-count').text()) - 1))
                        } else {
                            btn.removeClass('btn-success')
                            btn.addClass('btn-danger')
                            btn.text('取消关注')
                            $('#followers-count').text(String(Number($('#followers-count').text()) + 1))
                        }
                    }
                }
            })
        })
    })
</script>
{% endblock %}