{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="well">
            <div class="row">
                <div style="margin-top: 100px" class="col-md-4 text-center">
                    <form id="avatar-form" action="{% url 'accounts:avatar_upload' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <img id="avatar" src="/media/{{ request.user.user_profile.avatar }}" alt="头像" class="img-circle" width="100px" height="100px">
                        <br>
                        <br>
                        <input name="avatar" id="input-avatar" style="display: none" type="file">
                        <input type="button" id="btn-upload" class="btn btn-success" value="修改头像">
                    </form>
                </div>
                <h1 class="text-center">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    个人信息
                </h1>
                <div class="col-md-8">
                    {% crispy profile_form %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        $('#btn-upload').click(function () {
            $('#input-avatar').trigger('click')
        })
        $('#avatar-form').on('change', function () {
            this.submit()
        })
    })
</script>