{% extends 'base.html' %}
{% block title %}文章详情{% endblock %}
{% import 'macros.html' as macros %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">    
        <div class="page-header">
            <h1>
                {{ article.title }}
                <small>{{ moment(article.publish_time).fromNow(refresh=True) }}</small>
            </h1>
        </div>
        <a href="{{ url_for('home.profile', user_id=article.author.id) }}">
            <img src="{{ article.author.gravatar(size=30) }}" alt="头像" class="img-circle">
        </a>
        <span>&nbsp;&nbsp;{{ article.author.username }}</span>
        <p>{{ article.content_html | safe }}</p>
        <hr/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments" aria-hidden="true"></i> 评论
            </div>
            <ul class="list-group">
                {% for comment in comments %}
                <li class="list-group-item"> 
                    <p>
                        <img src="{{ comment.user.gravatar(size=30) }}" alt="头像" class="img-circle">
                        <span class="text-muted">
                            &nbsp;&nbsp;{{ comment.user.username }}发表于{{ moment(comment.timestamp).fromNow(refresh=True) }}
                        </span>
                        {{ comment.content_html | safe }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <form method="POST">
            {{ comment_form.hidden_tag() }}
            <div class="form-group">
                {{ comment_form.content.label }}
                {% if comment_form.content.errors %}
                {% for e in comment_form.content.errors %}
                <p class="text-danger">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ comment_form.content(class='form-control') }}
            </div>
            {{ comment_form.submit(class='btn btn-success btn-block') }}
        </form>
        <nav aria-label="Page navigation">
            {{ macros.pagination_widget(pagination, 'home.article_detail_and_comment', article_id=article.id) }}
        </nav>
    </div>
</div>
{% endblock %}