<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block scripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{ moment.include_moment() }}
    {% endblock %}
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {{ moment.lang('zh-CN') }}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!--小尺寸设备图标-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home.index') }}"><i class="fa fa-code" aria-hidden="true"></i>
                玩蛇社区</a>
        </div>

        <!--导航栏内容-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">热门文章</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home.profile', user_id=current_user.id) }}">我的主页</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i> 增加 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('home.edit_article') }}">撰写博客</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><img src="{{ current_user.gravatar(size=20) }}" alt="头像"
                                                  class="img-circle"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">{{ current_user.username }}</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('home.edit_profile', user_id=current_user.id) }}">个人信息</a></li>
                        <li><a href="{{ url_for('auth.modify_password') }}">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}"><i class="fa fa-user" aria-hidden="true"></i> 登录</a></li>
                <li><a href="{{ url_for('auth.register') }}"><i class="fa fa-plus" aria-hidden="true"></i> 注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>