{% extends 'base.html' %}
{% block title %}玩蛇社区{% endblock %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% for article in articles %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ url_for('home.profile', user_id=article.author.id) }}">
                    <img src="{{ article.author.gravatar(size=30) }}" alt="头像" class="img-circle">
                </a>
                <span class="panel-title">&nbsp;&nbsp;{{ article.author.username }}</span>
            </div>
            <div class="panel-body">
                <h3>
                    {{ article.title }}
                    <small>{{ moment(article.publish_time).fromNow(refresh=True) }}</small>
                </h3>
                <p>
                    <span class="text-muted"><i class="fa fa-eye" aria-hidden="true"></i> {{ article.page_view }}&nbsp;&nbsp;</span>
                    <span class="text-muted"><i class="fa fa-comments" aria-hidden="true"></i> {{ article.page_view }}&nbsp;&nbsp;</span>
                    <span class="text-muted"><i class="fa fa-heart" aria-hidden="true"></i> {{ article.page_view }} </span>
                </p>
                <hr/>
                <p>
                    {{ article.content_html | safe }}
                </p>
            </div>
            <div class="panel-footer">
                <a href="#" class="btn btn-primary">查看全文</a>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation">
            {{ macros.pagination_widget(pagination, 'home.index') }}
        </nav>
    </div>
</div>
{% endblock %}