{% extends 'base.html' %} {% block title %}个人主页{% endblock %} {% block content %}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <img src="{{ user.gravatar(size=45) }}" alt="头像" class="img-circle">
                <span>{{ user.username }}</span>
            </h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-envelope text-center" aria-hidden="true"></i> 邮箱：
                <span class="text-muted">{{ user.email }}</span>
            </li>
            <li class="list-group-item"><i class="fa fa-globe" aria-hidden="true"></i> 地址：
                <span class="text-muted">{{ user.location }}</span>
            </li>
            <li class="list-group-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 加入时间：
                <span class="text-muted">{{ moment(user.add_time).format('LLL') }}</span>
            </li>
            <li class="list-group-item"><i class="fa fa-book" aria-hidden="true"></i> 发表文章：
                <span class="text-muted">{{ user.articles.all()|length}}篇</span>
            </li>
        </ul>
        <div class="panel-footer">
            <p>个人简介：{{ user.about_me }}</p>
        </div>
    </div>
</div>
<div class="col-md-8">
    {% for article in user.articles %}
    <div class="thumbnail">
        <div class="caption">
            <h3>{{ article.title }}</h3>
            <p>{{ article.content_html | safe }}</p>
            {% if article.author == current_user %}
            <p>
                <a href="{{ url_for('home.modify_article', article_id=article.id) }}" class="btn btn-success btn-sm" role="button"><i class="fa fa-edit" aria-hidden="true"></i> 编辑</a>
                <a href="{{ url_for('home.remove_article', article_id=article.id) }}" class="btn btn-danger btn-sm" role="button"><i class="fa fa-remove" aria-hidden="true"></i> 删除</a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}