{% extends 'base.html' %}
{% block title %}注册{% endblock %}
{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="well well-lg">
        <div class="page-header text-center">
            <h1><i class="fa fa-plus" aria-hidden="true"></i> 用户注册</h1>
        </div>
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ register_form.hidden_tag() }}
            <div class="form-group">
                {{ register_form.email.label }}
                {% if register_form.email.errors %}
                {% for e in register_form.email.errors %}
                <p class="text-danger">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ register_form.email(class='form-control') }}
            </div>
            <div class="form-group">
                {{ register_form.password.label }}
                {% if register_form.password.errors %}
                {% for e in register_form.password.errors %}
                <p class="text-danger">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ register_form.password(class='form-control') }}
            </div>
            <div class="form-group">
                {{ register_form.password2.label }}
                {% if register_form.password2.errors %}
                {% for e in register_form.password2.errors %}
                <p class="text-danger">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ register_form.password2(class='form-control') }}
            </div>
            {{ register_form.submit(class='btn btn-primary btn-block') }}
        </form>
    </div>
</div>
{% endblock %}